.footer {
  max-width: 1440px;
  width: 100%;
  background-color: rgba(1, 24, 70, 1);
  padding: 48px 0;

  @media (max-width: 747px) {
    padding: 24px 0;
  }

  &__wrapper {
    max-width: 1146px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @media (max-width: 1188px) {
      width: calc(100% - 32px);
    }
  }
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 193px;
    width: 100%;

    &-img {
    }
  }

  &__name {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.75rem, 0.714rem + 0.18vw, 0.875rem);
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    width: 220px;
  }

  &__navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 747px) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: row;
      column-gap: 48px;

      @media (max-width: 747px) {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        gap: 16px 40px;
        margin: 32px auto;
      }
    }

    &-item {
    }

    &-link {
      font-family: "Montserrat", sans-serif;
      font-size: clamp(0.875rem, 0.839rem + 0.18vw, 1rem);
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 64px 0 0;

    @media (max-width: 747px) {
      flex-direction: column-reverse;
      row-gap: 20px;
    }
    &-icon {
      margin-right: 18.5px;
    }
  }
}
