.top {
  position: relative;
  top: 62px;
  width: 100%;
  background: linear-gradient(rgba(89, 145, 255, 1), rgba(0, 80, 239, 1));

  &__text {
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat", sans-serif;

    padding-top: clamp(1.25rem, -0.179rem + 7.143vw, 6.25rem);
    padding-left: clamp(1rem, -1.161rem + 10.804vw, 8.563rem);
    padding-bottom: clamp(1.25rem, 1.179rem + 0.357vw, 1.5rem);

    &-title {
      max-width: 600px;

      width: 100%;
      font-size: clamp(1.25rem, 0.893rem + 1.786vw, 2.5rem);
      font-weight: 600;
      line-height: clamp(1.5rem, 0.929rem + 2.857vw, 3.5rem);
      letter-spacing: 0em;

      @media (max-width: 465px) {
        max-width: 318px;
      }

      @media (max-width: 385px) {
        max-width: 298px;
      }
    }

    &-subtitle {
      max-width: 513px;
      width: 100%;
      font-size: clamp(0.875rem, 0.839rem + 0.179vw, 1rem);
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      margin: clamp(1rem, 0.768rem + 0.952vw, 1.625rem) 0
        clamp(1.5rem, 1.314rem + 0.762vw, 2rem);

      @media (max-width: 465px) {
        max-width: 328px;
      }
    }

    &-btn {
      font-size: clamp(0.875rem, 0.839rem + 0.179vw, 1rem);
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0em;
      background-color: rgba(255, 255, 255, 1);
      color: rgba(0, 80, 239, 1);
      border: none;
      border-radius: 10px;
      padding: 16px 32px 16px 32px;
      margin-bottom: 114px;
    }

    &-pagination {
      display: flex;
      flex-direction: row;
      column-gap: 6px;
      &-btn {
        width: 29px;
        height: 3px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.3);
        border: none;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(0px);
    right: 0;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .active {
    background-color: rgba(255, 255, 255, 1);
  }
}
